.page-title {
  font-size: 2rem;
  font-weight: 700;
  color: #2f2f2f;
  text-align: center;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-family: "Poppins", Arial;
  background-color: beige;
  padding-top: 20px;
  padding-bottom: 20px;
}
